{% extends 'back/Admintemplate.html' %}
{% load static %}

{% block headblock %}

<script src="https://cdn.tiny.cloud/1/0fudtnjuf75v2kp0dhp5ga1hzaoseujj520f553o1azfutxj/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<title>{{site.name}} | User Details </title>


<link rel="stylesheet" href="{% static 'back/assets/css/bootstrap.min.css' %}">

<!-- Related styles of various icon packs and plugins -->
<link rel="stylesheet" href="{% static 'back/assets/css/plugins.css' %}">

<!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
<link rel="stylesheet" href="{% static 'back/assets/css/main.css' %}">

<!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

<!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
<link rel="stylesheet" href="{% static 'back/assets/css/themes.css' %}">
<!-- END Stylesheets -->

<!-- Modernizr (browser feature detection library) -->
<script src="{% static 'back/assets/js/vendor/modernizr.min.js' %}"></script>
{% endblock headblock %}

{% block mainblock %}
<form  method="post" enctype="multipart/form-data" class="form-horizontal" >
    {% csrf_token %}
    <!-- Input Grid Row -->
    <div class="row" boarder-style = None>
        <div class="col-md-12">
            <!-- Input Grid Block -->
            <div class="block">
                <!-- Input Grid Title -->
                <div class="block-title row">
                    <div class=" col-md-8">
                        <h2>Edit Team  <strong>{{userinfo.uname}}</strong> information</h2>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-sm btn-success"onclick="return confirm('Do you really want to update user information?');" >Submit</button>
                            <a href="" data-toggle="tooltip" title="Groups" class="btn btn-sm btn-danger "><i class="fa fa-pencil"> Cancel</i></a>
                        </div>
                    </div>
                </div>    
                <!-- END Input Grid Title -->

                <!-- Input Grid Content -->
                <form action="" method="post" class="form-horizontal" onsubmit="return false;">
                    <div class="form-group row">
                        <div class="row">    
                            <div class=" row">
                                <div><div class="col-md-3">
                                    Player 1 (need to be main players)
                                    <p>ID: {{teamplayers.player_1.player_id}} Player Name:  {{teamplayers.player_1.player_personaname}}  </p>
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group col-md-9 " >
                                    Select a player
                                    <select id="player_1" name="player_1" class="select-chosen" data-placeholder="Choose a player to add" style="width: 250px;">
                                        {% for p in all_players_of_league%}
                                            {% if p.playerrole == 1 %}
                                            <option value="{{p.playerid}}"   {% if teamplayers.player_1.player_id == p.playerid %} selected {% endif %}   >{{p.playerid}} || {{p.playerusername}} </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">    
                            <div class=" row">
                                <div><div class="col-md-3">
                                    Player 1 (need to be main players)
                                    <p>ID: {{teamplayers.player_2.player_id}} Player Name:  {{teamplayers.player_2.player_personaname}}  </p>
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group col-md-9 " >
                                    Select a player
                                    <select id="player_2" name="player_2" class="select-chosen" data-placeholder="Choose a player to add" style="width: 250px;">
                                        {% for p in all_players_of_league%}
                                            {% if p.playerrole == 1 %}
                                            <option value="{{p.playerid}}"   {% if teamplayers.player_2.player_id == p.playerid %} selected {% endif %}   >{{p.playerid}} || {{p.playerusername}} </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">    
                            <div class=" row">
                                <div><div class="col-md-3">
                                    Player 3 (need to be main players)
                                    <p>ID: {{teamplayers.player_3.player_id}} Player Name:  {{teamplayers.player_3.player_personaname}}  </p>
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group col-md-9 " >
                                    Select a player
                                    <select id="player_3" name="player_3" class="select-chosen" data-placeholder="Choose a player to add" style="width: 250px;">
                                        {% for p in all_players_of_league%}
                                            {% if p.playerrole == 1 %}
                                            <option value="{{p.playerid}}"   {% if teamplayers.player_3.player_id == p.playerid %} selected {% endif %}   >{{p.playerid}} || {{p.playerusername}} </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">    
                            <div class=" row">
                                <div><div class="col-md-3">
                                    Player 4 (need to be Support players)
                                    <p>ID: {{teamplayers.player_4.player_id}} Player Name:  {{teamplayers.player_4.player_personaname}}  </p>
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group col-md-9 " >
                                    Select a player
                                    <select id="player_4" name="player_4" class="select-chosen" data-placeholder="Choose a player to add" style="width: 250px;">
                                        {% for p in all_players_of_league%}
                                            {% if p.playerrole == 2 or p.playerrole == 4%}
                                                <option value="{{p.playerid}}"   {% if teamplayers.player_4.player_id == p.playerid %} selected {% endif %}   >{{p.playerid}} || {{p.playerusername}} </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">    
                            <div class=" row">
                                <div><div class="col-md-3">
                                    Player 5 (need to be Support players)
                                    <p>ID: {{teamplayers.player_5.player_id}} Player Name:  {{teamplayers.player_5.player_personaname}}  </p>
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group col-md-9 " >
                                    Select a player
                                    <select id="player_5" name="player_5" class="select-chosen" data-placeholder="Choose a player to add" style="width: 250px;">
                                        {% for p in all_players_of_league%}
                                            {% if p.playerrole == 2 or p.playerrole == 4%}
                                            <option value="{{p.playerid}}"   {% if teamplayers.player_5.player_id == p.playerid %} selected {% endif %}   >{{p.playerid}} || {{p.playerusername}} </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">    
                            <div class=" row">
                                <div><div class="col-md-3">
                                    Player 6
                                    <p>ID: {{teamplayers.player_6.player_id}} Player Name:  {{teamplayers.player_6.player_personaname}}  </p>
                                </div>
                            </div>
                            <div class="">
                                <div class="form-group col-md-9 " >
                                    Select a player
                                    <select id="player_6" name="player_6" class="select-chosen" data-placeholder="Choose a player to add" style="width: 250px;">
                                        {% for p in all_players_of_league%}
                                            <option value="{{p.playerid}}"   {% if teamplayers.player_6.player_id == p.playerid %} selected {% endif %}   >{{p.playerid}} || {{p.playerusername}} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <br/>
                   

                    
                </form>
                <!-- END Input Grid Content -->
            </div>
            <!-- END Input Grid Block -->
        </div>
        
    </div>
    <!-- END Input Grid Row -->
    
   
 
  
</form>
{% endblock mainblock %}

{% block scriptblock %}
 
  <!--Refesh page-->
  <script>
    function refreshPage(){
        window.location.reload();
    } 
    </script>

        <script src="{% static 'back/assets/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'back/assets/js/vendor/bootstrap.min.js' %}" ></script>
        <script src="{% static 'back/assets/js/plugins.js' %}"></script>
        <script src="{% static 'back/assets/js/app.js' %}"></script>
{% endblock scriptblock %}