{% extends 'back/Admintemplate.html' %}
{% load static %}

{% block headblock %}
<title>{{site.name}} | Users List </title>
{% endblock headblock %}

{% block mainblock %}


   <!-- Datatables Header -->
   <div class="content-header">
    <div class="header-section">
        <h5>
            <i class="fa fa-table"></i> List of group members<br><small> See all users of the group</small>
        </h5>
    </div>
</div>

<!-- END Datatables Header -->



  <!-- Datatables Content -->
  <div class="block full">
    <div class="block-title">
        <h2>Members of the group <strong>{{name}}</strong></h2>
    </div>
   
    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Username</th>
                </tr>
            </thead>
            <tbody>
                {% for u in ulist %}
                <tr>
                    <td class="text-center ">{{u.pk}}</td>
                    <td class="text-center">{{u.uname}}</td>
                    
                </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- END Datatables Content -->

{% endblock mainblock %}