{% extends 'back/Admintemplate.html' %}
{% load static %}

{% block headblock %}

<script src="https://cdn.tiny.cloud/1/0fudtnjuf75v2kp0dhp5ga1hzaoseujj520f553o1azfutxj/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<title>{{site.name}} | User Details </title>


<link rel="stylesheet" href="{% static 'back/assets/css/bootstrap.min.css' %}">

<!-- Related styles of various icon packs and plugins -->
<link rel="stylesheet" href="{% static 'back/assets/css/plugins.css' %}">

<!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
<link rel="stylesheet" href="{% static 'back/assets/css/main.css' %}">

<!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

<!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
<link rel="stylesheet" href="{% static 'back/assets/css/themes.css' %}">
<!-- END Stylesheets -->

<!-- Modernizr (browser feature detection library) -->
<script src="{% static 'back/assets/js/vendor/modernizr.min.js' %}"></script>
{% endblock headblock %}

{% block mainblock %}
<form action="{%url 'create_user_team' lid=league.league_id uid=request.user.pk %}" method="post" enctype="multipart/form-data" class="form-horizontal" >
    {% csrf_token %}
    <!-- Input Grid Row -->
    <div class="row" boarder-style = None>
        <div class="col-md-12">
            <!-- Input Grid Block -->
            <div class="block">
                <!-- Input Grid Title -->
                <div class="block-title row">
                    <div class=" col-md-8">
                        <h2>Create a team for the league :  <strong>{{league.league_name}}</strong> </h2>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-sm btn-success"onclick="return confirm('Do you really want to create the team');" >Submit</button>
                            <a href="" data-toggle="tooltip" title="Groups" class="btn btn-sm btn-danger "><i class="fa fa-pencil"> Cancel</i></a>
                        </div>
                    </div>
                </div>    
                <!-- END Input Grid Title -->

                <!-- Input Grid Content -->
                <form action="" method="post" class="form-horizontal" onsubmit="return false;">
                    <div class="form-group row">
                        <div class="col-md-4">
                            Team Name
                            <input type="text" class="form-control" id="user_team_name" name="user_team_name" placeholder="" required>
                            
                        </div>
                    </div>
                    
                    <br/>
                   

                    
                </form>
                <!-- END Input Grid Content -->
            </div>
            <!-- END Input Grid Block -->
        </div>
        
    </div>
    <!-- END Input Grid Row -->
    
   
 
  
</form>
{% endblock mainblock %}

{% block scriptblock %}
 
  <!--Refesh page-->
  <script>
    function refreshPage(){
        window.location.reload();
    } 
    </script>

        <script src="{% static 'back/assets/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'back/assets/js/vendor/bootstrap.min.js' %}" ></script>
        <script src="{% static 'back/assets/js/plugins.js' %}"></script>
        <script src="{% static 'back/assets/js/app.js' %}"></script>
{% endblock scriptblock %}